.container{
  position: relative;
  width: 100vw;
  height: 100vh;
}

.main{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.header{
  width: 555px;
  font-size: 45px;
  font-family: var(--cp-font-family-header);
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.1;
}

.message{
  width: 555px;
  font-size: 18px;
  color: var(--cp-color-6);
  color: white;
}

.body-bgc{
  position: absolute;
  top:-440px;
  right: -900px;
  z-index: 1;
  max-width: calc(230vw + 1670px);
  pointer-events: none;
}

.earth{
  position: relative;
  z-index: 1;
}

.green-line-svg{
  position: absolute;
  bottom: -80px;
  left: -120px;
  width: 500px;
}

.introduce{
  position: relative;
  top: 828px;
  right: 0;
  left: 0;
  z-index: 3;
  margin: auto;
  width: 1000px;
}

.pink-line-svg{
  position: absolute;
  top: -20px;
  right: -120px;
  width: 350px;
}

.project-box{
  position: relative;
  z-index: 2;
  padding: 22.5px 22.5px 30px;
  margin: 30px 0;
  width: 315px;
  height: 253.398px;
  background: var(--cp-color-14);
  border-radius: 10px;
  box-shadow: 0 5px 20px rgb(255 255 255 / 20%);
}

.project-box-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
  margin-bottom: 10px;
  width: 75px;
  height: 75px;
  background: var(--cp-color-17);
  border-radius: 10px;
}

.project-box-icon-img{
  width: 50px;
}

.project-box-icon-name{
  font-size: 22px;
  font-family: var(--cp-font-family-header-alt);
  font-weight: bold;
  color: #fff;
}

.project-box-icon-introduce{
  margin-top: 4px;
  font-size: 14px;
  color: var(--cp-color-6);
}

.project-box-icon-button{
  position: absolute;
  bottom: 20px;
  padding: 10px 16px;
  font-size: 1rem;
  color: rgb(255 255 255) !important;
  background: rgb(68 72 87) !important;
  border-radius: 4px;
  text-shadow: none;
  outline-offset: 3px;
  cursor: pointer;
}

.project-box-icon-button:hover {
  background: #5a5f73 !important;
}

.yellow-line-svg{
  position: relative;
  left: -150px;
  margin-top: -40px;
  width: 350px;
}

.poster{
  display: flex;
  margin-top: 20px;
  width: 100%;
  background: var(--cp-color-14);
  border-radius: 10px;
}

.poster-collapse{
  width: 30%;
}

.poster-show-demo{
  flex: 1;
  padding: 10px;
}

.poster-show-demo-img-box{
  overflow: hidden;
  border-radius: 4px;
}

.poster-show-demo-img{
  width: 100%;
}

.footer{
  height: 50px;
}
